DATABASE_URL=postgres://user:password@localhost/dbname

DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

CORS_ALLOWED_ORIGIN=http://localhost:3000
