DATABASE_URL=postgres://user:password@localhost/dbname
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
DEV_ACCOUNT_ID=your_dev_discord_account_id
DEV_LOGIN_SECRET=some_secret_secret
COOKIE_DOMAIN=localhost
DISCORD_REDIRECT_URI=http://localhost:8900/api/discord_login
GRPC_ADDRESS=http://[::1]:50052
CORS_ALLOWED_ORIGIN=http://localhost:3000