pub const CLIENT_ID: &str = "your_discord_client_id";
pub const CLIENT_SECRET: &str = "your_discord_client_secret";
pub const ACCESS_SECRET: &str = "your_jwt_access_secret";
pub const REFRESH_SECRET: &str = "your_jwt_refresh_secret";
